* {
    padding: 0;
    margin: 0;
}

.main-section {
    background-color: #f07427;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-form {
    background-color: #f0ead6;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.list {
    list-style: none;
}

.center-h {
    display: flex;
    justify-content: center;
}

.li {
    margin-bottom: 40px;
}

.input {
    width: 440px;
    height: 60px;
    font-size: 25px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: 500;
    text-indent: 15px;
    border-radius: 5px;
}

#login-btn {
    width: 440px;
    height: 60px;
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: bold;
    border-radius: 5px;
    background-color: #4caf50;
    border-color: #4caf50;
}

.li-h {
    margin-top: 50px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: bold;
}

.header-form {
    font-size: 36px;
}

.reg {
    margin-top: 30px;
}

.passreset {
    margin-top: 5px;
}

.custom-shape-divider-top-1629403210 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
