@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
}

#main_section {
    background: url('../img/bg.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
}

/*--------------------------Nav bar--------------------------------*/



/*--------------------------Nav bar--------------------------------*/

/*-------------------------Main section------------------------------*/

#header_div {
    align-self: center;
    justify-content: center;
    width: 450px;
    height: 250px;
}

#author, #title {
    color: white;
    align-self: center;
}

#header_div > a {
    border: 3px solid #F07427;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 30px 30px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.15s;
}

#header_div > a:hover {
    opacity: 0.8;
    border-color: #AF5B27;
}